{% extends "FELAdminBundle:Default:layout.html.twig" %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}New Article - News Management{% endblock %}

{% block appendJavascripts %}
    <script src="{{ asset('lib/tinymce/tinymce.min.js') }}" rel="script" type="application/javascript"></script>
    {% javascripts '@FELAdminBundle/Resources/public/js/tinymce.js' %}
    <script src="{{ asset_url }}" rel="script" type="application/javascript"></script>
    {% endjavascripts %}
{% endblock %}

{% block appendStylesheets %}
    {% stylesheets '@FELAdminBundle/Resources/public/css/inline-record-actions.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}
{% endblock %}

{% block body -%}
    <div class="jumbotron jumbotron-trianglify">
        <div class="container"><h1>Gestion des events</h1></div>
    </div>
    <section class="container">

        <ol class="breadcrumb">
            <li><a href="{{ path('fel_admin_homepage') }}">Admin</a></li>
            <li><a href="{{ path('fel_admin_events_homepage') }}">Events</a></li>
            <li class="active">New</li>
        </ol>

        <div class="page-header">
            <h2>Event creation</h2>
        </div>

        {{ form(form) }}

    </section>
{% endblock %}
