<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}FEL{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('lib/bootstrap/css/bootstrap.min.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('lib/bootstrap/css/bootstrap-theme.min.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('lib/font-awesome/css/font-awesome.min.css') }}" type="text/css"/>
        {% block stylesheets %}
            <meta name="description" content="La FEL (Fédération des Étudiants Lyonnais) est une association pour la cohésion et le développement de l'associatif des étudiants de Lyon. Elle trouve ses racines en 1989 dans la volonté de 7 associations étudiantes de Grandes Écoles et d’Universités de créer un organisme indépendant, apolitique, représentant tous les étudiants lyonnais.">
            <meta name="keywords" content="fédération;étudiants;lyonnais;lyon;association">
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/felfront/css/component.min.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>

<body>

