<div id="event" class="bl-content">

{% for e in events.events %}


            <ul id="bl-work-items">
                <li data-panel="panel-1"><a href="#"><span class="img-loader">{"src":"//{{ meteor_host }}:{{ meteor_port }}/upload/{{ e._id }}{{ e.imageExtension }}","alt":"{{ e.name|escape('js') }}","attr":{"id":"img1"}}</span></a></li>

            </ul>
            <p> {{ e.name }}  <a href="{{ e.link }}">>Informations</a> </br>
                Date: {{ e.begin }} - {{ e.end }}</br>
                Lieu: {{ e.address }}</br>
                {{ e.price }} €
            </p>

{% else %}
        <div class="alert alert-info" role="alert">Aucun Events n'a été trouvé.</div>
{% endfor %}

</div>
