<div id="event" class="bl-content">

{% for e in events.events %}



            <ul id="bl-work-items">
                <!--<li data-panel="panel-1"><a href="#"><img src="images/1.jpg" id="img1"/></a></li>-->

            </ul>
            <p>{{ e.name }} <a href="{{ e.link }}">>Informations</a> </br>
                Date: {{ e.begin }}  </br>
                Date: {{ e.end }} </br>
                Lieu: {{ e.address }} </br>
                {{ e.price }} €
            </p>

{% else %}
        <div class="alert alert-info" role="alert">Aucun Events n'a été trouvé.</div>
{% endfor %}

</div>
