{% extends "FELAdminBundle:Default:layout.html.twig" %}

{% block title %}Article Edit - News Management{% endblock %}

{% block appendStylesheets %}
    {% stylesheets '@FELAdminBundle/Resources/public/css/news.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body -%}
    <div class="jumbotron jumbotron-trianglify">
        <div class="container"><h1>Modification des news</h1></div>
    </div>
    <section class="container">

        <ol class="breadcrumb">
            <li><a href="{{ path('fel_admin_homepage') }}">Admin</a></li>
            <li><a href="{{ path('fel_admin_news_homepage') }}">Articles</a></li>
            <li><a href="{{ path('fel_admin_news_show', {'id': entity.id}) }}">#{{ entity.id }}</a></li>
            <li class="active">Edit</li>
        </ol>

        <div class="page-header">
            <h2>Article edit</h2>
        </div>

        {{ form(edit_form) }}

        <ul class="record_actions">
            <li>
                <a href="{{ path('fel_admin_news_homepage') }}" class="btn btn-default" rle="button">
                    Annuler
                </a>
            </li>
            <li>
                <a href="{{ path('fel_admin_news_confirm', { 'id': entity.id }) }}" class="btn btn-danger" rle="button">
                    Supprimer
                </a>
            </li>
        </ul>
    </section>
{% endblock %}
