{% extends "FELAdminBundle:Default:layout.html.twig" %}

{% block title %}Show Article - News Management{% endblock %}

{% block appendStylesheets %}
    {% stylesheets '@FELAdminBundle/Resources/public/css/inline-record-actions.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}
{% endblock %}

{% block body -%}
    <div class="jumbotron jumbotron-trianglify">
        <div class="container"><h1>Gestion des news</h1></div>
    </div>
    <section class="container">

        <ol class="breadcrumb">
            <li><a href="{{ path('fel_admin_homepage') }}">Admin</a></li>
            <li><a href="{{ path('fel_admin_news_homepage') }}">Articles</a></li>
            <li class="active">#{{ entity.id }}</li>
        </ol>

        <div class="page-header">
            <h2>Article</h2>
        </div>

        <table class="table record_properties">
            <tbody>
            <tr>
                <th class="col-md-2">Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ entity.content|raw }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ entity.author }}</td>
            </tr>
            </tbody>
        </table>

        <ul class="record_actions">
            <li>
                <a href="{{ path('fel_admin_news_edit', { 'id': entity.id }) }}" class="btn btn-default">
                    <span class="fa fa-pencil"></span> Edit
                </a>
            </li>
            <li>
                <a href="{{ path('fel_admin_news_confirm', { 'id': entity.id }) }}" class="btn btn-danger">
                    <span class="fa fa-times"></span> Delete
                </a>
            </li>
        </ul>
    </section>
{% endblock %}
